section {
	background-color: #fff;
	color: #000000;
}

.start {
	padding: 2em;
	border: 6px solid #4034AD;
	color: #4034AD;
	text-align: center;
	display: inline-block;
	margin-bottom: 100px;
	font-size: 0.75em;
}

.start:hover {
	background-color: #4034AD;
	color: #fff;
}

#logo {
	max-width: 300px;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
}

#tagline {
	font-size: 0.75em;
	margin: 0;
}

.twobit h1 {
	padding: 1em 1em 1em 1em;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}

.twobit{
	min-height: 80vh;
}

.vt {
	font-family: 'VT323' !important;
}

.pressplay {
	font-family: 'Press Start 2P' !important;
}

.next {
	background-color: #222;
}

.slide {
	background-color: ;
	min-height: 100vh;
	padding: 0;
	padding-top: 20vh;
	text-align: center;
}

.slide h1 {
	line-height: 1;
	margin: 0 auto;
	overflow: hidden;
}

.slide h1:nth-child(1) {
	margin-right: -4%;
}

.slide h1:nth-child(3) {
	margin-left: -4%;
}

.slide h1:nth-child(2) {
	margin-left: -2%;
	margin-right: -2%;
}

.top2 {
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

.seeourwork {
	margin-top: 20vh;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
}

.seeourwork img {
	width: 60px;
}

.casestudies {
	background-image: url(https://static.pexels.com/photos/7304/pexels-photo-large.jpeg);
	background-size: cover;
	height: 40vh;
}

.remove-padding {
	padding: 0;
	margin: 0 auto;
}

.less-padding {
	padding: 5px;
	margin: 0 auto;
}

@-webkit-keyframes loop {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-66.6%);
    -moz-transform: translateX(-66.6%);
    -o-transform: translateX(-66.6%);
    transform: translateX(-66.6%); } }

@-moz-keyframes loop {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-66.6%);
    -moz-transform: translateX(-66.6%);
    -o-transform: translateX(-66.6%);
    transform: translateX(-66.6%); } }

@-ms-keyframes loop {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-66.6%);
    -moz-transform: translateX(-66.6%);
    -o-transform: translateX(-66.6%);
    transform: translateX(-66.6%); } }

@keyframes loop {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-66.6%);
    -moz-transform: translateX(-66.6%);
    -o-transform: translateX(-66.6%);
    transform: translateX(-66.6%); } }

.cssanimations .marquee {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .cssanimations .marquee > ul {
    list-style: none;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 300% !important;
    height: 110px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: loop 20s linear infinite;
    -moz-animation: loop 20s linear infinite;
    -o-animation: loop 20s linear infinite;
    animation: loop 20s linear infinite; }
  .cssanimations .marquee > ul > li {
    position: relative;
    text-align: justify;
    text-justify: distribute-all-lines;
    line-height: 0;
    letter-spacing: -0.31em;
    float: left;
    width: 33.333333%;
    height: 230px;
    overflow: hidden; }
    .cssanimations .marquee > ul > li:before {
      content: '';
      position: relative;
      height: 50%;
      width: 0; }
    .cssanimations .marquee > ul > li:before,
    .cssanimations .marquee > ul > li > * {
      vertical-align: middle;
      display: inline-block; }
    .cssanimations .marquee > ul > li:after {
      content: '.';
      display: inline-block;
      height: 0 !important;
      width: 100%;
      overflow: hidden !important;
      visibility: hidden;
      font-size: 0;
      word-spacing: 10%; }
    .cssanimations .marquee > ul > li > * {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      line-height: 1;
      letter-spacing: 0; }
    .cssanimations .marquee > ul > li img {
      margin: 20px 1.6%; }

.marquee {
  border-top: 0px solid #DDD;
  border-bottom: 0px solid #DDD;
	height: 100%;
}
  .marquee ul, .marquee li {
    padding: 0 !important;
    margin: 0 !important; }

.marquee img {
	width: 120px;
}


@media only screen and (min-width: 1000px) {
.marquee img {
	width: 220px;
}
}
