section {
	background-color: #CC401F;
	color: #E9F2FA;
}

#logo {
	max-width: 800px;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
}

.twobit h1 {
	padding: 4em 1em 0em 1em;
	box-sizing: border-box;
	overflow: hidden;
}

.twobit{
	min-height: 100vh;
}

.slide {
	background-color: ;
	min-height: 100vh;
	padding: 0;
	padding-top: 20vh;
	text-align: center;
}

.slide h1 {
	line-height: 1;
	margin: 0 auto;
	overflow: hidden;
}

.slide h1:nth-child(1) {
	margin-right: -4%;
}

.slide h1:nth-child(3) {
	margin-left: -4%;
}

.slide h1:nth-child(2) {
	margin-left: -2%;
	margin-right: -2%;
}

#tagline {
	font-family: coranto-2-headline, "coranto-2-headline", "Coranto 2 Headline";
	margin-top: 60px;
	font-weight: 900;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	font-size: 2em;
}

.top2 {
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

.seeourwork {
	margin-top: 20vh;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
}

.seeourwork img {
	width: 60px;
}

.casestudies {
	background-image: url(https://static.pexels.com/photos/7304/pexels-photo-large.jpeg);
	background-size: cover;
	height: 40vh;
}

.remove-padding {
	padding: 0;
	margin: 0 auto;
}

.less-padding {
	padding: 5px;
	margin: 0 auto;
}

.top {
	padding: 7em 0em;
	color: #E9F2FA;
	text-align: center;
	min-height: 70vh;
}

.top h1, .top h4 {
	color: #E9F2FA;
	font-weight: 700;
}

.top2 {
	background-color: rgba(144,192,229,0.1);
	text-align: center;
	padding: 0;
	padding: 5em 0em;
	min-height: 80vh;
	border-bottom: 2px solid rgba(144,192,229,0.4);
	border-top: 2px solid rgba(144,192,229,0.4);
}

.work {
	background-color: #fff;
	text-align: center;
	padding: 0;
	padding: 5em 0em;
	min-height: 80vh;	
}

.work h3 {
	font-weight: 700;
	letter-spacing: 3px;
}

.work img {
	filter: saturate(0);
	-webkit-filter: saturate(0);
	padding: 1em;
	max-width: 300px;
}

.work img:hover {
	filter: saturate(1);
	-webkit-filter: saturate(1);
	transition-duration: 0.3s;
}

a.casestudy {
	display: block;
	width: 300px;
	margin: auto;
	background-color: #CC041F;
	color: #fff;
	padding: 1em;
}

a.casestudy img {
	width: 20%;
	padding: 0;
}

.top2 img {
	padding: 0;
	margin: 0;
}

.top2 h2 {
	font-family: coranto-2-headline, "coranto-2-headline", "Coranto 2 Headline", "Hoefler Text", Georgia, serif;
	font-weight: 700;
	text-align: left;
	margin: 0;
	font-size: 2em;
/*	padding: 0.43em 0.6em;*/
	line-height: 1.125;
}

.top2 h4 {
	font-family: coranto-2, "coranto-2", "Coranto 2", "Hoefler Text", Georgia, serif;
	font-weight: 100;
	text-align: left;
/*	padding: 0.43em 0.6em;*/
	color: #777;
}

.coranto {
	font-family: coranto-2-headline, "coranto-2-headline", "Coranto 2 Headline", "Hoefler Text", Georgia, serif;
	font-weight: 700;
}

@media only screen and (min-width: 1200px) {
	.top, top2 {
		min-height: 100vh;
		padding: 10em 0em;
	}
	.contain {
	padding: 0em 10em;
	}
}

@media only screen and (max-width: 800px) {
	.top, .top2 {
		min-height: 80vh;
		padding: 2em 0em;
	}
	
	.top2 h2 {
		font-size: 2em;
	}
	
	.top2 h4 {
		font-size: 1.60em;
	}
	
}

@media only screen and (max-width: 500px) {
	.slide {
		padding: 0;
	}
}



@-webkit-keyframes loop {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-66.6%);
    -moz-transform: translateX(-66.6%);
    -o-transform: translateX(-66.6%);
    transform: translateX(-66.6%); } }

@-moz-keyframes loop {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-66.6%);
    -moz-transform: translateX(-66.6%);
    -o-transform: translateX(-66.6%);
    transform: translateX(-66.6%); } }

@-ms-keyframes loop {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-66.6%);
    -moz-transform: translateX(-66.6%);
    -o-transform: translateX(-66.6%);
    transform: translateX(-66.6%); } }

@keyframes loop {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

  100% {
    -webkit-transform: translateX(-66.6%);
    -moz-transform: translateX(-66.6%);
    -o-transform: translateX(-66.6%);
    transform: translateX(-66.6%); } }

.cssanimations .marquee {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .cssanimations .marquee > ul {
    list-style: none;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 300% !important;
    height: 110px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: loop 20s linear infinite;
    -moz-animation: loop 20s linear infinite;
    -o-animation: loop 20s linear infinite;
    animation: loop 20s linear infinite; }
  .cssanimations .marquee > ul > li {
    position: relative;
    text-align: justify;
    text-justify: distribute-all-lines;
    line-height: 0;
    letter-spacing: -0.31em;
    float: left;
    width: 33.333333%;
    height: 510px;
    overflow: hidden; }
    .cssanimations .marquee > ul > li:before {
      content: '';
      position: relative;
      height: 50%;
      width: 0; }
    .cssanimations .marquee > ul > li:before,
    .cssanimations .marquee > ul > li > * {
      vertical-align: middle;
      display: inline-block; }
    .cssanimations .marquee > ul > li:after {
      content: '.';
      display: inline-block;
      height: 0 !important;
      width: 100%;
      overflow: hidden !important;
      visibility: hidden;
      font-size: 0;
      word-spacing: 100%; }
    .cssanimations .marquee > ul > li > * {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      line-height: 1;
      letter-spacing: 0; }
    .cssanimations .marquee > ul > li img {
      margin: 20px 1.6%; }

.marquee {
  border-top: 0px solid #DDD;
  border-bottom: 0px solid #DDD; }
  .marquee ul, .marquee li {
    padding: 0 !important;
    margin: 0 !important; }

.marquee img {
	width: 20%;
}

@media only screen and (max-width: 600px) {
.marquee img {
	width: 40%;
}
}

@media only screen and (max-width: 1200px) {
.marquee img {
	width: 30%;
}	
}